[package]
name = "greenhouse-rs"
version = "0.1.0"
authors = ["Wangweizhen <hawking.rei@gmail.com>"]
edition = "2018"

[dependencies]
bit-vec = "~0.4"
brotli = "2.5"
chrono = "0.4.6"
clap = "2.32.0"
clippy = {version = "0.0.302", optional = true}
core_affinity = "0.5.9"
crossbeam-channel = "0.3.1"
crossbeam = "0.5"
flate2 = "1.0.2"
futures = "0.1.25"
futures-cpupool = "0.1.8"
libc = "0.2.43"
lz4 = "1.23.1"
quick-error = "1.2.2"
rocket = "0.4.0-rc.2"
rocket_codegen = "0.4.0-rc.2"
rand = "0.4"
siphasher = "^0.2.2"
log = { version = "0.4.6", features = ["release_max_level_info"] }
nix = "0.11.0"
slog = "2.3"
slog-async = "2.3"
slog-scope = "4.0"
slog-stdlog = "3.0.4-pre"
slog-term = "2.4"
snap = "0.2"
lazy_static = "1.1.0"
spin = "0.4.10"
prometheus = "0.4.2"
tokio = "0.1.11"
time = "0.1.40"
tokio-core = "0.1.17"
tokio-timer = "0.2.7"
walkdir = "2.2.6"
mio = "0.5"
tempfile = "3.0.4"
protobuf = "2.2.0"
zstd = "0.4.21+zstd.1.3.7"
env_logger = "0.6.0"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"

[target.'cfg(unix)'.dependencies]
signal = "0.6"

[lib]
name = "greenhouse"

[[bin]]
name = "greenhouse-server"

[[bench]]
name = "benches"

[profile.dev]
opt-level = 0  # Controls the --opt-level the compiler builds with
debug = true   # Controls whether the compiler passes `-g`
codegen-units = 4

# The release profile, used for `cargo build --release`
[profile.release]
lto = true
opt-level = 3
debug = true
# TODO: remove this once rust-lang/rust#50199 and rust-lang/rust#53833 are resolved.
codegen-units = 1

# The benchmark profile is identical to release, except that lto = false
[profile.bench]
lto = false
opt-level = 3
debug = true
codegen-units = 1

[features]
default = []
no-debug = []
